<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	 xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	>
	
	<!-- 數據源 -->
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass">
	      	<value>com.mysql.jdbc.Driver</value>
	    </property>
	    <property name="jdbcUrl">
	      	<value>jdbc:mysql://127.0.0.1:3306/smart_stock?useUnicode=true&amp;characterEncoding=utf8</value>
	    </property>
	    <property name="user">
	      	<value>root</value>
	    </property>
	    <property name="password">
	      	<value></value>
	    </property>
		<property name="minPoolSize">
			<value>4</value>
		</property>
		<property name="maxPoolSize">
			<value>20</value>
		</property>
		<property name="acquireIncrement">
			<value>2</value>
		</property>
		<property name="checkoutTimeout">
			<value>3000</value>
		</property>
		<!-- mysql 8小时超时问题 -->
		<property name="preferredTestQuery">
			<value>SELECT 1</value>
		</property>
		<property name="idleConnectionTestPeriod">
			<value>18000</value>
		</property>
		<property name="testConnectionOnCheckout">
			<value>true</value>
		</property>
		<!-- mysql 8小时超时问题  -->
	</bean>
	
	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 事務管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<!-- 事務傳播屬性 -->
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="move*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<!-- 哪些類的哪些方法使用事務 -->
	<bean
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<value>*Dao</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>
</beans>